@import './variables.scss';
@import './mixins.scss';

body {
  font-family: sans-serif;
  color: #333;
  margin:0;
  padding:0;
}

a {
  color: #333;
}

img {
  content: normal !important;
}

.flexbox {
  display: flex;
  &.ac {
    align-items: center;
  }
  &.jc {
    justify-content: center;
  }
}

.border1px {
  @include border1px();
}
