// triangle
@mixin triangle($direction: top, $size: 7px, $borderColor: darkgray) {
  content: '';
  height: 0;
  width: 0;
  @if $direction == top {
    border-bottom: $size solid $borderColor;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  } @else if $direction == right {
    border-left: $size solid $borderColor;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
  } @else if $direction == bottom {
    border-top: $size solid $borderColor;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  } @else if $direction == left {
    border-right: $size solid $borderColor;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
  }
}

// text ellipsis
@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;
  }
}

@svg 1px-ratio3 {
  height: 1px;
  @rect {
    fill: var(--color, black);
    width: 100%;
    height: 33.33%;
  }
}
@svg 1px-ratio2 {
  height: 1px;
  @rect {
    fill: var(--color, black);
    width: 100%;
    height: 50%;
  }
}

// border 1px by `postcss-write-svg`
@mixin border1px($color: #ddd) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    background-image: svg(1px-ratio2 param(--color $color));
  }
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: svg(1px-ratio3 param(--color $color));
  }
}

@mixin lheihgt($h:90px) {
  height:$h;
  line-height:$h;
}