body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
img {
  content: normal !important;
}
div {
  height: 100px;
  width: 100%;
  left: calc(50vw - 100px);
  background-color: blueviolet;
}
